<div class="container">
  <h2 class="title">Album Image</h2>
  <p><img src="{{response.album.description_annotation.annotatable.image_url}}" /></p>

    <h2 class="title">Release Date</h2>
    <p class="album">{{response.album.release_date}}</p>

    <h2 class="title">Full Title</h2>
    <p class="album">{{response.album.full_title}}</p>

    <h2 class="title">Song Performers</h2>
    {{#each response.album.song_performances}}
        {{this.label}}
        {{#each this.artists}} <p class="album">{{this.name}}</p>
    
        {{/each}}
    
    {{/each}}

    <h2 class="title">Album Tracklist</h2>
    {{#each response.album.songlist}}
        <p class="album">{{this}}</p>
    {{/each}}
</div>
